<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header {
            background-color:rgb(185, 106, 106);
            color: rgb(0, 0, 0);
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        body {
            margin: 0;
            background-color: rgb(197, 197, 197);
        }
    </style>
</head>

<body>
    <header>
        <h1>Seja bem vindo</h1>
        <a href="{% url 'usuario:login' %}">login</a>
    </header>

</body>

</html>